/*------------------------------------*\
   LOCAL SCREENS
\*------------------------------------*/






/*------------------------------------*\
   END LOCAL SCREENS
\*------------------------------------*/ 




/*------------------------------------*\
   LOCAL FIXES
\*------------------------------------*/


.section-camera-control .filter-container .filter {
	display: inline-block;
}

.section-apple-intelligence .headline-text-container {
	display: flex;
	flex-direction: column;
}

.section-apple-intelligence .section-apple-intelligence-hero .headline-video-container {
	--media-height: 0px;
}

.section-apple-intelligence .section-apple-intelligence-hero .subsection-header {
	overflow: visible;
}

.section-apple-intelligence .section-apple-intelligence-hero .subsection-header .apple-intelligence-disclaimer {
	opacity: 1;
}

.camera-visual-intelligence .intelligence .copy .vi-headline {
	margin-top: 25px;
}

@media only screen and (max-width: 734px) {
	.camera-visual-intelligence .intelligence .copy .vi-headline {
		margin-top: 20px;
	}
}

@media only screen and (max-width:1068px) {
	.product-tile-price {
    	width: 180px;
	}
}

@media only screen and (max-width: 1068px) {
	.typography-ps-modal-body {
    	font-size: 20px;
	}
}

/*------------------------------------*\
   END LOCAL FIXES
\*------------------------------------*/ 